html {
  /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
  font-size: 62.5%;
}

body {
  /* Arial font stack is implemented for consistency */
  font-family: Arial, Helvetica, sans-serif;
  /* set body font size to 1.75rem, which is 1.75x more than the font-size of 10px, making it 17.5px  */
  font-size: 1.75rem;
  line-height: 1.5;
  color: black;
  background-color: rgb(2, 196, 255);
}

h1,
h2,
h3,
h4{
  margin-bottom: 0.625rem;
  color: var(--heliotrope);
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  /* 4rem = 40px (4 * 10px) */
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

header {
  margin: 0px 0px 0px 0px;
  padding: 2.5rem;
  border: 5px solid black;
  border-bottom: 0px;
  background-color: lightblue;
}

header h1.pageTitle {
  padding: 1rem 1.2rem;
  font-size: 4rem;
  text-align: left;
}

header nav.headerNav {
  text-align: right;
}

.headerBelow {
  border: 5px solid black;
  background-color: aqua;
}

.pageSubtitle {
  text-align: right;
  padding: 0px 10px; 
}

main {
  width: 96%;
  margin: 2rem auto;
}

footer {
  margin: 1.5rem;
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: row;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding: 0px 5px;
  background-color: teal;
  border: 3px solid;
}

.cardHeader {
  /*float: left;*/
  min-width: 175px;
  max-width: 175px;
  margin: 2rem 0rem 1.5rem 0rem;
  border-right: 5px solid black;
}

.cardBody {
  /*float: right;*/
  display: inline;
  padding: 5px 0px 0px 0px;
  margin: 10px;
}

.cardText {
  flex-wrap: wrap;
  padding-left: 25px;
}

img {
  max-width: 100%;
  max-height: auto;
}
.projectImages {
  display: flex;
  /*max-width: 400px;
  max-height: 400px;*/
}

.imgCards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 5px 20px 0px 20px;
}

.imgCard {
  break-inside: avoid-column;
  border: 2px solid black;
  margin: 5px 0px;
  padding: 0px;
  max-width: 400px;
  max-height: auto;
}

.workTitles {
  font-size: 2.5rem;
  background-color: white;
  border: 2px solid black;
}